name: dev-php7_4

on:
  push:
    branches-ignore:
      - 'main'
    tags-ignore:
      - '**'
  workflow_dispatch:

jobs:
  test-php7_4:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v2
  build-php7_4:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v2
      -
        name: Read WP version
        uses: bencgreen/read-file-action@v1
        with:
          path: ./WP_MINOR
        id: wp_version
      -
        name: Read image version
        uses: bencgreen/read-file-action@v1
        with:
          path: ./VERSION
        id: version
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./php7.4/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          tags: |
            bcgdesign/wordpress:${{ steps.version.outputs.content }}-beta
            bcgdesign/wordpress:dev
            bcgdesign/wordpress:php7-dev
            bcgdesign/wordpress:php7-${{ steps.version.outputs.content }}-beta
            bcgdesign/wordpress:php7.4-dev
            bcgdesign/wordpress:php7.4-${{ steps.version.outputs.content }}-beta
            bcgdesign/wordpress:php7.4-wp${{ steps.wp_version.outputs.content }}-dev
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
